@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Chilanka&family=Josefin+Sans:wght@200&family=Ruluko&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#game-board{
    position: relative;
    background-image: url('../img/fundo-prof-carvalho.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* border: solid 2px black; */
    width: 70%;
    min-height: 100vh;
    margin: auto;
}

#prof-carvalho{
    position: absolute;
    top: 28%;
    left: 37%;
    width: 270px;
    height: 270px;
}

#prof-carvalho img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.balao-fala{
    position: absolute;
    background-image: url('../img/balao-fala.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 170px;
    bottom: 5px;
    left: 40px;
}

/* font-family: 'Arima', cursive; 3*/
/* font-family: 'Chilanka', cursive; 1*/
/* font-family: 'Josefin Sans', sans-serif; 2*/
/* font-family: 'Ruluko', sans-serif; 1*/

.balao-fala p{
    position: relative;
    top: 40px;
    left: 70px;
    font-size: 1.45rem;
    font-family: 'Arima', cursive;
    /* font-family: 'Chilanka', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Ruluko', sans-serif; */
    /* border: solid 1px; */
    text-align:justify;
    font-weight: bold;
    color: rgb(46, 45, 45);
    width: 82%;
}

.btn-balao{
    position: absolute;
    background-image: url('../img/btn-balao.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    right: 70px;
    bottom: 25px;
    animation: btn-animation 0.3s infinite;
}

@keyframes btn-animation{
    0% {bottom: 25px;}
    100% {bottom: 28px;}
}

.pokebola{
    position: absolute;
    background-image: url('../img/pokebola.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: 105px;
    left: 50px;
}

.animation{
    animation: pokebola-animation 1s linear 0.2s 1;
}

@keyframes pokebola-animation{
    0% {background-image: url('../img/pokebola.png');}
    5% {top: 100px;}
    10% {top: 90px;}
    20% {top: 80px;}
    30% {top: 70px;}
    40% {top: 60px;}
    50% {top: 50px;}
    60% {top: 40px;}
    70% {top: 30px;}

    /* 50% {background-image: url('../img/pokebola-meio-aberta.png');}
    100% {background-image: url('../img/nidoran.png');} */
}
