*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game{
    position: relative;
    background-image: url('../img/background-start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
}